/* block 1 */
.bl1{
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 580px;
	transition: .3s;
}
@media (max-width: 500px) {
	.bl1{
		height: 50vh;
		min-height: 0;
	}
}





.jquery-background-video-wrapper {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.jquery-background-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
	opacity: 0;
	-webkit-transition: opacity 300ms linear;
			transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
	opacity: 1;
}

/**
 * Pause/play button
 */ 
.jquery-background-video-pauseplay {
	position: absolute;
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	padding: 0 !important;
	cursor: pointer;
	outline: none !important;
	display: none;
}
.jquery-background-video-pauseplay span {
	display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #FFF;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 5px solid #FFF;
}
.jquery-background-video-pauseplay.pause:after {
	left: 10px;
}


:root {
	--headerOpacity: 1;
	--headerScale: 1;
}
.viewport-header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	opacity: var(--headerOpacity);
	transform: scale(var(--headerScale));
	background-image: radial-gradient(at center center, #42505891 0%, var(--cl9) 100%);
}
.viewport-header h1 {
	color: var(--wh);
	/* font-family: "Syncopate", sans-serif; */
	text-transform: uppercase;
	letter-spacing: 2vw;
	line-height: 1.5;
	font-size: 48px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.viewport-header h1 span {
	display: block;
	font-size: 120px;
	letter-spacing: 0vw;
}
@media (max-width: 500px) {
	.viewport-header h1 {
		font-size: 24px;
	}
	.viewport-header h1 span {
		font-size: 48px;
	}
}










.bl1 .bl_c{height:100%}
.bl1_c{
	position: relative;
	width: 100%;
	padding-top: 220px;
	padding-bottom: 180px;
	display: flex;
	align-items: center;
}
@media(max-height:680px){.bl1_c{padding-top:60px}}
@media (max-width: 500px) {
	.bl1_c{
		padding: 134px 0 60px 0;
	}
}

.bl1_a{
	position: relative;
	width: 35%;
	display: flex;
	justify-content: center;
}
.bl1_as{
	position: relative;
	width: 60%;
	padding-bottom: 100%;
	transition: .3s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.bl1_l{
	position: relative;
	width: 65%;
}
.bl1_offer, .bl1_offer2{
	width: 100%;
	color: var(--wh);
}
.bl1_offer h1, .bl1_offer2 h1{
	font-size: 40px;
	font-weight: 800;
}
@media(max-width:768px){.bl1_offer h1{font-size:42px}}
@media(max-width:500px){.bl1_offer h1{font-size:26px}}
@media(max-width:375px){.bl1_offer h1{font-size:24px}}
@media(max-width:360px){.bl1_offer h1{font-size:22px}}
@media(max-width:320px){.bl1_offer h1{font-size:20px}}


/*  */
.bl1_disc{
	width: 100%;
	margin: 0 auto;
	margin-top: 45px;
	color: var(--wh);
}
@media(max-width:500px){.bl1_disc{margin-top:30px}}

.bl1_disc p{
	font-size: 20px;
	font-weight: 400;
}
@media(max-width:768px){.bl1_disc p{font-size:20px}}
@media(max-width:500px){.bl1_disc p{font-size:14px}}
@media(max-width:375px){.bl1_disc p{font-size:13px}}
@media(max-width:320px){.bl1_disc p{font-size:12px}}


/*  */
.bl1_btn{
	position: relative;
	width: 100%;
	margin-top: 45px;
}
@media(max-width:500px){.bl1_btn{padding-bottom:60px;margin-top:30px}}

.bl1_btn_a{
	position: absolute;
	display: inline;
	top: 90px;
	left: 60px;
	font-size: 14px;
	font-weight: 400;
	color: var(--wh7);
	min-width: 260px;
	text-align: left;
	text-transform: underline;
}
@media(max-width:500px){.bl1_btn_a{font-size:12px}}

.bl1_btn_ab{
	position: absolute;
	top: -25px;
	left: -50px;
	width: 50px;
	height: 50px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .8;
}


/*  */
.bl1_bs{
	position: absolute;
	bottom: 30px;
	left: 0;
}
@media(max-width:768px){.bl1_bs{bottom:20px}}

.bl1_bs a{
	color: var(--wh7);
	transition: var(--tm);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.bl1_bs a:hover{color:var(--cl)}
.bl1_bsi{
	position: relative;
	font-size: 20px;
}
.bl1_bst{margin-left:10px}



/*  */
.bl1_sos{
	position: absolute;
	right: 0;
	bottom: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:768px){.bl1_sos{bottom:20px}}

.bl1_si{
	margin: 0 15px;
	font-size: 24px;
	color: var(--wh);
	transition: var(--tm);
}
.bl1_si:hover{color:var(--cl)}
@media(max-width:500px){.bl1_si{font-size:20px}}







/* block 7 */
.bl7{
	position: relative;
	width: 100%;
	background: var(--gr5);
	padding-bottom: 60px;
	margin-top: 40px;
	padding-top: 60px;
}
.bl7 .head_c{padding-top:0}

.bl7_c{
	position: relative;
	width: 100%;
	position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	border-radius: 20px;
	overflow: hidden;
}
@media (max-width: 500px) {
	.bl7_c{
		grid-template-columns: repeat(1, 1fr);
	}	
}



.bl7_i{
	position: relative;
	width: 100%;
	min-height: 340px;
	display: flex;
	align-items: flex-end;
	/* background: var(--bl1); */
	transition: .3s;
	overflow: hidden;
}
.bl7_i:hover{
	/* background: var(--cm); */
}
.bl7_img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bl7_img::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--bl6);
	background-position: 0% 0%;
	transition: .3s;
	background: linear-gradient(180deg, var(--trb) 0%, var(--bl5) 70%, var(--bl9) 100%, var(--bl9) 150%);
}
.bl7_i:hover .bl7_img::after{
	background-position: 0% 100%;
}

.bl7_ic{
	position: relative;
	width: 100%;
	color: var(--wh);
	padding: 0 30px;
}
.bl7_in{
	padding-bottom: 12px;
	bottom: -50px;
	transition: .3s;
	position: relative;
	font-size: 20px;
	font-weight: 600;
}
.bl7_i:hover .bl7_in{
	bottom: 0;
}
@media(max-width:500px){
	.bl7_in, .bl7_i:hover .bl7_in{
		bottom: 0;
	}
}

.bl7_it{
	padding-bottom: 25px;
	bottom: -80px;
	transition: .3s;
	position: relative;
}
.bl7_i:hover .bl7_it{
	bottom: 0;
}

@media(max-width:500px){
	.bl7_it, .bl7_i:hover .bl7_it{
		bottom: 0;
	}
}


/*  */
.bl7_b{
	position: relative;
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
@media(max-width:768px){.bl7_b{margin-top:0}}
@media(max-width:500px){.bl7_b{padding:30px 20px}}
@media(max-width:375px){.bl7_b{padding:30px 15px}}

.bl7_b p{
	margin-bottom: 20px;
	text-align: center;
}










/*  */
.blx2{
	position: relative;
	width: 100%;
	padding-bottom: 40px;
}


.blx2_tx{
	text-align: center;
	padding: 80px 0 80px 0;
}
.blx2_tx p{
	padding: 0 80px;
	margin-top: 30px;
	line-height: 1.5;
}
@media(max-width:500px){
	.blx2_tx h1{

	}
	.blx2_tx p{
		padding: 0;
		margin-top: 30px;
		font-size: 14px;
	}
}



.blx2_mp{
	position: relative;
	width: 100%;
	padding-bottom: 50%;
}
.blx2_mpc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.blx2_mpc iframe{
	width: 100%;
	height: 100%;
}





















/* 000 */
.sana_bl2{
	position: relative;
	width: 100%;
	padding-top: 60px;
}
.sana_bl2_c{
	position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
@media (max-width: 500px) {
	.sana_bl2_c{
		grid-template-columns: repeat(1, 1fr);
		gap: 40px;
	}	
}

.sana_bl2 .head_c{
	padding-top: 0;
}




























/* block 2 */
.bl2{
	position: relative;
	width: 100%;
	background: var(--bag2);
	padding-bottom: 60px;
}
.bl2 .head_c{padding-top:80px}

.bl2_con{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl2_i{
	position: relative;
	width: calc(50% - 15px);
	margin-bottom: 30px;
	padding: 30px 45px;
	border-radius: 30px;
	border: 1px solid var(--bl1);
	overflow: hidden;
}
@media(max-width:768px){.bl2_i{width:100%}}
@media(max-width:500px){.bl2_i{padding:30px;text-align:center}}
@media(max-width:320px){.bl2_i{padding:30px 15px;margin-bottom:15px}}

.bl2_img{
	position: relative;
	width: 54px;
	height: 54px;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:500px){.bl2_img{margin:auto}}

.bl2_l{
	position: relative;
	width: 100%;
	margin-top: 15px;
}
.bl2_r{
	position: relative;
	width: 100%;
	margin-top: 15px;
}


.bl_raz{
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: var(--cl);
	margin-top: 15px;
	text-transform: uppercase;
}
.bl_raz::after, .bl_raz::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -230px;
	width: 215px;
	height: 1px;
	background: var(--bl1);
}
.bl_raz::before{
	left: auto;
	right: -230px;
	opacity: 0;
}
@media(max-width:500px){.bl_raz::before{opacity:1}}




.bl2_b{
	position: relative;
	width: 100%;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl2_b{flex-direction:column}}

.bl2_b p{}
@media(max-width:768px){.bl2_b p{margin-bottom:20px;text-align:center}}




























/* block 8 */
.bl8{
	position: relative;
	width: 100%;
	transition: var(--tm);
	padding-bottom: 60px;
}
.bl8 .head_c{padding-top:80px}
@media(max-width:768px){.bl8 .head_c{padding-top:60px}}

.bl8_r{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl8_rsi{
	position: relative;
	width: calc(100% / 3 - 30px * 2 / 3);
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	text-align: center;
}
@media(max-width:768px){.bl8_rsi{width:100%;margin-bottom:30px}}
@media(max-width:500px){.bl8_rsi{padding:30px 20px}}
@media(max-width:375px){.bl8_rsi{padding:30px 15px}}
@media(max-width:360px){.bl8_rsi{padding:20px 15px}}
@media(max-width:320px){.bl8_rsi{padding:15px}}

.bl8_rsi h4{margin-bottom:15px}


.bl8_c{
	position: relative;
	width: 100%;
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	margin-top: 60px;
}
@media(max-width:768px){.bl8_c{margin-top:0}}
@media(max-width:500px){.bl8_c{padding:30px 20px}}
@media(max-width:375px){.bl8_c{padding:30px 15px}}
@media(max-width:360px){.bl8_c{padding:20px 15px}}
@media(max-width:320px){.bl8_c{padding:15px}}

.bl8_c .head_c{
	padding: 30px 0;
	padding-top: 10px;
	text-align: center;
}
@media(max-width:500px){.bl8_c .head_c{padding-top:0}}

.bl8_l{position:relative;width:100%}



.bl8_b{
	position: relative;
	width: 100%;
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:768px){.bl8_b{margin-top:30px}}
@media(max-width:500px){.bl8_b{padding:30px 20px}}
@media(max-width:375px){.bl8_b{padding:30px 15px}}
@media(max-width:360px){.bl8_b{padding:20px 15px}}
@media(max-width:320px){.bl8_b{padding:15px}}

.bl8_bl{
	position: relative;
	width: calc(50% - 30px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width:1024px){.bl8_bl{width:100%;justify-content:center}}

.bl8_bi{
	position: relative;
	width: 74px;
	height: 74px;
	font-size: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bl8_b .form_c{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bl8_b .form_c .form_im{margin-top:0}
.bl8_b .form_im_txt{padding:0 15px 0 0;text-align:center}
@media(max-width:1024px){.bl8_b .form_c{width:100%;display:block}.bl8_b .form_c .form_im{margin-top:30px}}








.bl13{
	position: relative;
	width: 100%;
	background: var(--gr5);
}
.bl13_c{
	position: relative;
	width: 100%;
}

.bl131_c{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: var(--wh);
	border-radius: 16px;

	width: calc(100% + 120px);
	margin: 0 -75px;
	padding: 90px 75px;
}
@media(max-width:768px){.bl131_c{flex-direction:column-reverse}}

.bl13_l{
	position: relative;
	width: 50%;
}
@media(max-width:768px){.bl13_l{width:100%;text-align:center}}

.bl13_l .head_c{padding-top:0;padding-bottom:30px}

.bl13_r{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:768px){.bl13_r{width:100%;margin-bottom:30px}}

.bl13_ri{
	width: 100%;
	max-width: 500px;
	height: 320px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;	
}
@media(max-width:500px){.bl13_ri{height:240px}}
@media(max-width:375px){.bl13_ri{height:200px}}







.bl13_sw3{padding-top:60px !important}
.bl13_sw3 .head_c{
	padding-top: 0;
	padding-bottom: 30px;
}
.bl6_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 768px) {.bl6_c{flex-direction:column-reverse}}

.bl6_l{
	position: relative;
	width: 50%;
	padding-bottom: 60px;
}
@media(max-width:768px){.bl6_l{width:100%;padding-bottom:0}}

.bl6_lc{
	position: relative;
	width: 100%;
}
.bl6_lc p{margin-bottom:30px}


/*  */
.bl6_r{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 768px) {
	.bl6_r{
		width: 100%;
	}
}

.bl6_ls{
	position: relative;
	display: inline-block;
	border: 1px solid var(--wh1);
	padding: 15px 0;
	border-radius: 30px;
}
.bl6_lsi{
	position: relative;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--wh1);
}
.bl6_lsi:last-child{border-bottom:0}
.bl6_lsimg{
	position: relative;
	width: 54px;
	height: 54px;
	background-size: 50% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.bl6_lsin{
	position: relative;
	width: calc(100% - 54px - 15px);
}


/*  */
.bl6_btn{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -80px;
}
.bl6_btn2{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:768px){.bl6_btn{margin-top:30px}.bl6_btn2{width:100%}}













/*  */
.blx3{
	position: relative;
	width: 100%;
	padding-top: 80px;
	background: var(--gr5);
	padding-bottom: 40px;
}


.blx3 .head_c{
	padding-top: 0;
}

.blx3_c{
	position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
@media(max-width:768px){
	.blx3_c{
		grid-template-columns: repeat(1, 1fr);
		/* gap: 40px; */
	}
}


























/* block 3 */
.bl3{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
@media(max-width:768px){.bl3{padding-bottom:84px}}

.bl3 .head_c{padding-top:80px}
@media(max-width:768px){.bl3 .head_c{padding-top:60px}}


.bl3s{
	position: relative;
	width: 100%;
	max-width:1280px;
	margin:auto;
}

.bl3_c{height:500px}
@media(max-width:768px){.bl3_c{height:320px}}

.bl3_i{
	position: relative;
	width:75% !important;
	height: 100%;
	background: var(--cm);
	transition: var(--tm);
	margin-right: 30px;
	border-radius: 30px;
	overflow: hidden;
}
@media(max-width:500px){.bl3_i{width:calc(100% - 30px) !important;margin:0 15px}}


.bl3_img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: var(--tm);
	transform: scale(1);
}
.bl3_img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bl5);
	transition: var(--tm);
}


.bl3_ic{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px 45px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
@media(max-width:768px){.bl3_ic{align-items:flex-end}}
@media(max-width:500px){.bl3_ic{padding:30px}}

.bl3_ich{
	position: relative;
	width: 50%;
	color: var(--wh);
	opacity: 0;
	transition: var(--tm);
}
.swiper-slide-active .bl3_ich{opacity:1}
@media(max-width:768px){.bl3_ich{width:100%}}


.bl3_icn{
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 80px;
	color: var(--wh2);
}




.bl3_prev, .bl3_next{
	width: 54px;
	height: 54px;
	right: -108px;
	outline: none;
}
.bl3_prev{
	right: auto;
	left: -108px;
}
.bl3_prev::after, .bl3_next::after{display:none}
@media (max-width: 1440px) {
	.bl3_next{right:15px}
	.bl3_prev{left:15px}
}
@media (max-width: 768px) {
	.bl3_prev, .bl3_next{
		left: 74px;
		right: 0;
		top: auto;
		bottom: -70px;
		margin: auto;
	}
	.bl3_prev{right:74px;left:0}
}


















/*  */
.bl4{
	position: relative;
	width: 100%;
	padding: 60px 0;
	transition: var(--tm);
}

.bl4_con{
	position: relative;
	width: 100%;
	max-width: 860px;
	margin: auto;
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	transition: var(--tm);
}
@media(max-width:500px){.bl4_con{padding:30px 20px;padding-top:10px}}
@media(max-width:375px){.bl4_con{padding:20px 15px;padding-top:0}}


.bl4_con .head_c{padding-top:30px}


/*  */
.bl4_pag{
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: auto;
	margin-bottom: 60px;
	border-radius: 7px !important;
	height: 7px !important;
	background: var(--gr2) !important;
	overflow: hidden;
}
.bl4_pag span{background:var(--cl) !important}

.bl4_v{
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}


.bl4_clb{
	position: relative;
	width: 100%;
	height: 74px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-prev::after, .gallery-next::after{display:none}
.gallery-prev, .gallery-next{
	position: relative;
	display: inline-block;
	transition: var(--tm);
	opacity: 1;
	outline: none;
}
.gallery-next.swiper-button-disabled{opacity:0;visibility:hidden}
.gallery-prev.swiper-button-disabled{opacity:.3}

.gallery-send{
	position: absolute;
	bottom: 0;
	right: 50%;
	width: auto;
	height: 74px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: var(--tm);
	transform: translateX(100%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.gallery-next.swiper-button-disabled ~ .gallery-send{visibility:visible;opacity:1}
















/*  */
.bl5{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
.bl5 .head_c{padding-top:60px}
@media(max-width:500px){.bl5 .head_c{padding-top: 30px}}


.bl5_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
@media(max-width:1024px){.bl5_c{justify-content:space-between}}


/*  */
.bl5_i{
	position: relative;
	width: 100%;
	transition: .3s;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.bl5_ia{
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: .3s;
	border-radius: 16px;
	/* transform: scale(1); */
	overflow: hidden;
}
/* .bl5_i:hover .bl5_ia{transform:scale(1.1)} */

.bl5_ia::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .3s;
	background: var(--bl5);
	z-index: 1;
}
.bl5_i:hover .bl5_ia::after{background:var(--cm1)}


.bl5_icn{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.bl5_icn p{
	display: inline-block;
	padding: 15px 20px;
	background: var(--bl2);
	border-radius: 12px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 800;
	color: var(--wh);
	transition: .3s;
}
.bl5_i:hover .bl5_icn p{
	background: var(--trb);
}


.bl5_ic{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.bl5_icts{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.bl5_icts i{
	font-size: 11px;
	color: var(--cl);
}




.bl5_icb{
	position: relative;
	width: 100%;
	/* margin-bottom: 20px; */
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.bl5_ictp{
	width: 50%;
	font-size: 18px;
}

.bl5_icbn{
	position: relative;
	width: 50%;
	text-align: right;
}
.bl5_ics{
	font-size: 14px;
	margin-bottom: 5px;
}
.bl5_icp{
	width: 100%;
	font-size: 24px;
	font-weight: 600;
}


.bl5_icbtn{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	justify-content: center;
}
.bl5_icbtn .btn:nth-child(2){
	margin-left: 20px;
}




.bl5_b{
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl5_b{flex-direction:column;padding:0}}

.bl5_b p{}
@media(max-width:768px){.bl5_b p{margin-bottom:15px;text-align:center}}







/*  */
.bl12{
	position: relative;
	width: 100%;
	margin-top: 40px;
}


.bl12_c{
	position: relative;
	width: calc(100% + 120px);
	margin: 0 -75px;
	background: var(--wh);
	padding: 90px 75px;
	border-radius: 16px;
	background: var(--gr5);
}
.bl12 .head_c{
	padding-top: 0;
	padding-bottom: 40px;
}

.bl12_r2c{
	position: relative;
	width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
@media (max-width: 500px) {
	.bl12_r2c{
		grid-template-columns: repeat(1, 1fr);
	}	
}

.bl12_r2ci{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 30px 45px;
	border-radius: 30px;
	border: 1px solid var(--bl1);
}

.bl12_r2cimg{
	position: relative;
	width: 120px;
	height: 120px;
	font-size: 38px;
	color: var(--bl8);
	background: radial-gradient(circle, var(--bl03) 50%, var(--tr) 100%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bl12_r2cic{margin-top:15px}



.bl12_b{
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}
@media(max-width:768px){.bl12_b{flex-direction:column}}

.bl12_b p{}
@media(max-width:768px){.bl12_b p{margin-bottom:20px;text-align:center}}










































/*  */
.bl9{
	position: relative;
	width: 100%;
	padding-top: 60px;
}
.bl9 .head_c{padding-top:0}
@media(max-width:768px){.bl9 .head_c{padding-top:60px}}


.bl9_c{
	position: relative;
	width: 100%;
}



.bl9_c .swiper-wrapper{
	align-items: stretch !important;
}


.bl9_con{
	position: relative;
	width: 100%;
}
.bl9_i{
	position: relative;
	width: calc(50% - 15px);
	height: auto;
	padding: 30px 45px;
	border-radius: 30px;
	border: 1px solid var(--bl1);
}
@media(max-width:1024px){.bl9_i{width:100%}}
@media(max-width:500px){.bl9_i{padding:30px}}
@media(max-width:320px){.bl9_i{padding:30px 15px}}

.bl9_it{margin-top:30px}
.bl9_iln{
	position: relative;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 425px) {
	.bl9_iln{
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}
}

.bl9_iln2{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.bl9_ilogo{
	position: relative;
	width: 74px;
	height: 74px;
	border-radius: 50%;

	background-size: cover;
	background-position: center center;
}


.bl9_ilc{
	position: relative;
	margin-left: 30px;
}
.bl9_ilname{
	font-size: 18px;
	font-weight: 600;
}
.bl9_ils{
	margin-top: 10px;
	font-size: 14px;
}
.bl9_ils i{font-size:13.4px}


.bl9_ildt{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
@media(max-width:500px){.bl9_ildt{padding-top:10px;width:74px;justify-content:center}}
.bl9_ildt i{
	font-size: 13.4px;
	color: var(--cl);
}
@media(max-width:500px){.bl9_ildt i{font-size:11px}}





.bl9_next, .bl9_prev{
	width: 54px;
	height: 54px;
	right: -108px;
	outline: none;
}
.bl9_prev{
	right: auto;
	left: -108px;
}
.bl9_next::after, .bl9_prev::after{display:none}
@media (max-width: 1440px) {
	.bl9_next, .bl9_prev{
		left: auto;
		right: 0;
		bottom: auto;
		top: -90px;
	}
	.bl9_prev{right:74px}
}
@media (max-width: 768px) {
	.bl9_next, .bl9_prev{
		left: 74px;
		right: 0;
		top: auto;
		bottom: -70px;
		margin: auto;
	}
	.bl9_prev{right:74px;left:0}
}



.bl9_b{
	position: relative;
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl9_b{flex-direction:column;padding:0;padding-top:95px;}}

.bl9_b p{}
@media(max-width:768px){.bl9_b p{margin-bottom:15px;text-align:center}}













/* block 11 */
.bl11{
	position: relative;
	width: 100%;
	padding: 60px 0 45px 0;
}
.bl11_c{
	position: relative;
	width: 100%;
}
.bl11_c .head_c{
	padding: 0 0 40px 0;
}
@media(max-width:1024px){.bl11_l .head_c{text-align:center}}

.faq {
	position: relative;
	width: 100%;
}
.faq-a {
	position: relative;
	width: 100%;
	height: 84px;
	margin-bottom: 20px;
	overflow: hidden;
	cursor: pointer;
	transition: height 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.faq-act {
	transition: height 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq-ah{
	position: relative;
	width: 100%;
}
.faq-heading {
	position: relative;
	width: 100%;
	padding: 0 20px 15px 0;
}

.faq .faq-arrow {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	bottom: 15px;
	margin: auto;
	right: 0;
	font-size: 20px;
	font-weight: 300;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.faq-arrow i:before {font-weight:300}
.faq-act .faq-arrow {
	transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.faq-text {
	position: relative;
	width: 100%;
	padding-right: 20px;
}














/*  */
.bl10{
	position: relative;
	width: 100%;
	min-height: 780px;
	padding-top: 160px;
	overflow: hidden;
}
@media(max-width:1024px){.bl10{padding-top:60px;min-height:580px}}


.bl10_c{
	position: relative;
	width: calc(100% - 60px);
	max-width: 768px;
	margin: auto;
	border-radius: 30px;
	padding: 60px 90px;
	background: var(--wh2);
	box-shadow: var(--bx4);
}
@media(max-width:500px){.bl10_c{padding:30px}}
@media(max-width:320px){.bl10_c{width:calc(100% - 30px);padding:30px 15px}}

.bl10_c::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: var(--tm);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: -1;
	border-radius: 30px;
}
.bl10_c .head_c{padding:0}
.bl10_c .head_c p{margin-top:20px}
@media(max-width:375px){.bl10_c .head_c p{font-size:13.4px}}

































/*  */
.blc1{
	position: relative;
	width: 100%;
	padding-top: 44px;
}
@media(max-width:768px){.blc1{padding-top:0}}
@media(max-width:500px){.blc1 .head_c{padding-top:94px}}