/* normalize */
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box}

/* Переменный */
:root {
	/* color norm */
	--bag: #fff;
	--bag2: #F4F5F9;
	--bag3: #1d1d1d;
	
	--red: #B90000;
	--grey: #3e3e3e;

	--tr: transparent;
	--trw: rgba(255,255,255,0);
	--trb: rgba(0,0,0,0);

	/* color white  */
	--wh: #fff;
	--wh05: rgba(255,255,255,.05);
	--wh1: rgba(255,255,255,.1);
	--wh2: rgba(255,255,255,.2);
	--wh3: rgba(255,255,255,.3);
	--wh4: rgba(255,255,255,.4);
	--wh5: rgba(255,255,255,.5);
	--wh6: rgba(255,255,255,.6);
	--wh7: rgba(255,255,255,.7);
	--wh8: rgba(255,255,255,.8);
	--wh9: rgba(255,255,255,.9);

	/* color black */
	--bl: #333333;
	--bl01: rgba(51,51,51,.01);
	--bl03: rgba(51,51,51,.03);
	--bl05: rgba(51,51,51,.05);
	--bl1: rgba(51,51,51,.1);
	--bl2: rgba(51,51,51,.2);
	--bl3: rgba(51,51,51,.3);
	--bl4: rgba(51,51,51,.4);
	--bl5: rgba(51,51,51,.5);
	--bl6: rgba(51,51,51,.6);
	--bl7: rgba(51,51,51,.7);
	--bl8: rgba(51,51,51,.8);
	--bl9: rgba(51,51,51,.9);

	/* color grey */
	--gr: #ECE4D4;
	--gr1: rgba(236,228,212,.1);
	--gr2: rgba(236,228,212,.2);
	--gr3: rgba(236,228,212,.3);
	--gr4: rgba(236,228,212,.4);
	--gr5: rgba(236,228,212,.5);
	--gr6: rgba(236,228,212,.6);
	--gr7: rgba(236,228,212,.7);
	--gr8: rgba(236,228,212,.8);
	--gr9: rgba(236,228,212,.9);

	/* color #1 */
	--cl: #3A5B40;
	--cl03: rgba(58,91,64,.03);
	--cl05: rgba(58,91,64,.05);
	--cl1: rgba(58,91,64,.1);
	--cl2: rgba(58,91,64,.2);
	--cl3: rgba(58,91,64,.3);
	--cl4: rgba(58,91,64,.4);
	--cl5: rgba(58,91,64,.5);
	--cl6: rgba(58,91,64,.6);
	--cl7: rgba(58,91,64,.7);
	--cl8: rgba(58,91,64,.8);
	--cl9: rgba(58,91,64,.9);

	/* color #2 */
	--cm: #C9AE81;
	--cm1: rgba(201,174,129,.1);
	--cm2: rgba(201,174,129,.2);
	--cm3: rgba(201,174,129,.3);
	--cm4: rgba(201,174,129,.4);
	--cm5: rgba(201,174,129,.5);
	--cm6: rgba(201,174,129,.6);
	--cm7: rgba(201,174,129,.7);
	--cm8: rgba(201,174,129,.8);
	--cm9: rgba(201,174,129,.9);


	/* box-shodow */
	--bx05: 0 15px 20px var(--bl05);
	--bx1: 0 15px 20px var(--bl1);
	--bx2: 0 15px 20px var(--bl2);
	--bx3: 0 15px 20px var(--bl3);
	--bx4: 0 15px 20px var(--bl4);
	--bx5: 0 15px 20px var(--bl5);
	--bx6: 0 15px 20px var(--bl6);
	--bx7: 0 15px 20px var(--bl7);
	--bx8: 0 15px 20px var(--bl8);
	--bx9: 0 15px 20px var(--bl9);
	/* box-shodow top */
	--bx_t1: 0 -4px 10px -4px var(--bl1);
	--bx_t2: 0 -4px 10px -4px var(--bl2);
	--bx_t3: 0 -4px 10px -4px var(--bl3);
	--bx_t4: 0 -4px 10px -4px var(--bl4);
	--bx_t5: 0 -4px 10px -4px var(--bl5);
	--bx_t6: 0 -4px 10px -4px var(--bl6);
	--bx_t7: 0 -4px 10px -4px var(--bl7);
	--bx_t8: 0 -4px 10px -4px var(--bl8);
	--bx_t9: 0 -4px 10px -4px var(--bl9);
	/* box-shodow bottom */
	--bx_b1: 0 4px 10px -4px var(--bl1);
	--bx_b2: 0 4px 10px -4px var(--bl2);
	--bx_b3: 0 4px 10px -4px var(--bl3);
	--bx_b4: 0 4px 10px -4px var(--bl4);
	--bx_b5: 0 4px 10px -4px var(--bl5);
	--bx_b6: 0 4px 10px -4px var(--bl6);
	--bx_b7: 0 4px 10px -4px var(--bl7);
	--bx_b8: 0 4px 10px -4px var(--bl8);
	--bx_b9: 0 4px 10px -4px var(--bl9);


	/* white box-shodow */
	--bxw1: 0 0 10px -2px var(--wh1);
	--bxw2: 0 0 10px -2px var(--wh2);
	--bxw3: 0 0 10px -2px var(--wh3);
	--bxw4: 0 0 10px -2px var(--wh4);
	--bxw5: 0 0 10px -2px var(--wh5);
	--bxw6: 0 0 10px -2px var(--wh6);
	--bxw7: 0 0 10px -2px var(--wh7);
	--bxw8: 0 0 10px -2px var(--wh8);
	--bxw9: 0 0 10px -2px var(--wh9);
	/* white box-shodow_t */
	--bxw_t1: 1px -4px 10px -4px var(--wh1);
	--bxw_t2: 1px -4px 10px -4px var(--wh2);
	--bxw_t3: 1px -4px 10px -4px var(--wh3);
	--bxw_t4: 1px -4px 10px -4px var(--wh4);
	--bxw_t5: 1px -4px 10px -4px var(--wh5);
	--bxw_t6: 1px -4px 10px -4px var(--wh6);
	--bxw_t7: 1px -4px 10px -4px var(--wh7);
	--bxw_t8: 1px -4px 10px -4px var(--wh8);
	--bxw_t9: 1px -4px 10px -4px var(--wh9);
	/* white box-shodow_b */
	--bxw_b1: 1px 4px 10px -4px var(--wh1);
	--bxw_b2: 1px 4px 10px -4px var(--wh2);
	--bxw_b3: 1px 4px 10px -4px var(--wh3);
	--bxw_b4: 1px 4px 10px -4px var(--wh4);
	--bxw_b5: 1px 4px 10px -4px var(--wh5);
	--bxw_b6: 1px 4px 10px -4px var(--wh6);
	--bxw_b7: 1px 4px 10px -4px var(--wh7);
	--bxw_b8: 1px 4px 10px -4px var(--wh8);
	--bxw_b9: 1px 4px 10px -4px var(--wh9);


	/* text-shodow */
	--tx1: 1px 4px 10px var(--bl1);
	--tx2: 1px 4px 10px var(--bl2);
	--tx3: 1px 4px 10px var(--bl3);
	--tx4: 1px 4px 10px var(--bl4);
	--tx5: 1px 4px 10px var(--bl5);
	--tx6: 1px 4px 10px var(--bl6);
	--tx7: 1px 4px 10px var(--bl7);
	--tx8: 1px 4px 10px var(--bl8);
	--tx9: 1px 4px 10px var(--bl9);
	/* text-shodow white */
	--txw1: 1px 4px 10px var(--wh1);
	--txw2: 1px 4px 10px var(--wh2);
	--txw3: 1px 4px 10px var(--wh3);
	--txw4: 1px 4px 10px var(--wh4);
	--txw5: 1px 4px 10px var(--wh5);
	--txw6: 1px 4px 10px var(--wh6);
	--txw7: 1px 4px 10px var(--wh7);
	--txw8: 1px 4px 10px var(--wh8);
	--txw9: 1px 4px 10px var(--wh9);


	--tm: .5s;
}

/* html - body */
html{}
html, body{
	position: relative;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   -webkit-font-smoothing: antialiased;
}
body{
	background: var(--bag);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	/* letter-spacing: .5px; */
	color: var(--bl);
}
.ovr_h{
	overflow: hidden;
	height: 100vh;
}
.app{
	position: relative;
	width: 100%;
	min-height: 100vh;
}



/*  */
::-webkit-scrollbar{
	width: 12px;
	height: 12px;
	background: var(--tr);
}
::-webkit-scrollbar-button{display:none}
::-webkit-scrollbar-thumb{
	background: var(--gr);
	border-radius: 12px;
	border: 2px solid var(--bag);
}
::-webkit-scrollbar-thumb:hover{background:var(--bl)}
::-webkit-scrollbar-track{background:var(--tr)}
::-webkit-scrollbar-track-piece{background:var(--tr)}
@media(max-width:1024px){::-webkit-scrollbar{display:none}}



/* css tag */
h1, h2, h3, h4, h5, h6{
	font-family: 'Unbounded', sans-serif;
	font-weight: 600;
}
h5, h6{
	font-weight: 400;
}
h1{font-size:42px} @media(max-width:500px){h1{font-size:28px}} @media(max-width:390px){h1{font-size:24px}}
h2{font-size:38px}
h3{font-size:32px}
h4{font-size:28px}
h5{font-size:24px}
h6{font-size:18px}
p{font-size:16px}


input, textarea{
	outline: none;
	border: 1px solid var(--tr);
	height: 44px;
	border-radius: 10px;
}
::-moz-placeholder{color: var(--gr)}
::-webkit-input-placeholder{ color: var(--gr)}
::-ms-input-placeholder{color: var(--gr)}
::placeholder{color: var(--gr)}

a{text-decoration:none;color:var(--bl)}
a:focus{outline:1px auto var(--bl)}

ul, li{list-style:none}


/* css classes */
.posr{position:relative}

.dsp_n{display:none !important}
.dsp_b{display:block !important}

.txt_c{text-align:center}
.txt_r{text-align:right}

.txt_tu{text-transform:uppercase}










/*  */
.preload{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background: var(--bag);
	transition: var(--tm);
	opacity: 1;
}
.preloader_act{opacity:0}

.preload_c{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preload_logo{
	position: relative;
	width: 160px;
	height: 160px;
	background: url('../img/logo/logo.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.preload_animate {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	height: 100%;
	padding-top: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
	color: var(--cl);
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}












/* block center */
.bl_c{
	position: relative;
	width: 100%;
	margin: auto;
	padding: 0 40px;
	max-width: 1280px;
	z-index: 11;
}
@media(max-width:1024px){.bl_c{padding:0 30px}}
@media(max-width:500px){.bl_c{padding:0 20px}}
@media(max-width:360px){.bl_c{padding:0 15px}}


/*  */
.head_c{
	position: relative;
	width: 100%;
	padding: 120px 0;
	padding-bottom: 60px;
}
@media(max-width:768px){.head_c{padding-top:60px;padding-bottom:30px}}


.head_c p{
	position: relative;
	width: 100%;
	margin-top: 20px;
}


/*  */
.head_v1{
	position: relative;
	width: 100%;
}
.head_vt{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--cl);
	margin-bottom: 15px;
}



/*  */
.head_ln{
	position: relative;
	width: 100%;
	margin-top: 15px;
}
@media(max-width:768px){.head_ln{display:none}}

.head_ln ul{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.head_ln li{
	color: var(--gr);
	font-size: 14px;
	margin-right: 10px;
}
.head_ln span{
	font-size: 11px;
	margin-right: 10px;
}
.head_ln a{color:var(--bl);transition:var(--tm)}
.head_ln a:hover{color:var(--cl)}


.head_star{
	position: relative;
	width: 100%;
}
.head_star i{
	color: var(--cl);
	font-size: 14px;
	padding: 0 1px;
}



.head_nb{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.head_nbi{
	position: relative;
	width: 74px;
	height: 74px;
	margin-right: 15px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:500px){.head_nbi{width:54px;height:54px}}




.head_share{
	position: absolute;
	top: 40px;
	right: 0;
	font-size: 24px;
	transform: rotate(-90deg);
}












/* кнопки */
.btn{
	position: relative;
	padding: 18px 32px;
	border-radius: 12px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	background: var(--cl);
	color: var(--wh);
	/* box-shadow: 0 15px 20px var(--cl4); */
	transition: .3s;
	cursor: pointer;
	user-select: none;
	border: none;
	outline: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:375px){.btn{font-size:14px}}
@media(max-width:320px){.btn{font-size:13px}}
.btn:hover{
	background: var(--cl8);
	/* text-shadow: var(--tx2); */
}

.btn > span{text-transform:uppercase}
.btn > i{font-size:18px}
.btn > i:first-child{margin-right:10px}
.btn > i:last-child{margin-left:10px}

.btn_sqr{
	width: 54px;
	height: 54px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
}

.btn_sqr2{
	width: 44px;
	height: 44px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
}


.btn_bl2{
	border: 1px solid var(--bl);
	background: var(--tr);
	color: var(--bl);
	box-shadow: none;
}
.btn_bl2:hover{
	border-color: var(--cl);
	background: var(--cl2);
	color: var(--cl);
}


.btn_whatsapp{
	background: #25D366;
	border-color: #25D366;
	box-shadow: 0 15px 20px rgba(37,211,102, .4);
}
.btn_whatsapp:hover{background:rgba(37,211,102, .8)}

.btn_back{
	background: var(--tr);
	border: none;
	color: var(--bl);
	box-shadow: none;
	font-size: 20px;
}
.btn_back:hover{
	color: var(--cl);
	background: var(--tr);
}





/*  */
.btn_img{
	position: relative;
	width: 30px;
	height: 100%;
	margin-left: 15px;
}
@media(max-width:320px){.btn_img{margin-left:5px}}

.btn_img div{
	position: absolute;
	width: 54px;
	height: 54px;
	bottom: 5px;
	right: -30px;

	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.btn_img2{
	width: 20px;
	margin-left: 0px;
}
.btn_img2 div{
	bottom: 5px;
	right: -45px;
}







/* form setting */
.form_c{
	position: relative;
	width: 100%;
}
.form_im{
	position: relative;
	width: 100%;
	max-width: 768px;
	margin: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:500px){.form_im{margin-top:15px}}

.form_im_txt{
	position: relative;
	width: 100%;
	height: 54px;
	border-radius: 13.5px;
	border: 1px solid var(--bl2);
	background: var(--tr);
	color: var(--bl);
	padding: 0 34px;
	font-size: 16px;
	font-weight: 600;
	transition: var(--tm);
	user-select: none;
	outline: none;
}
.form_im_txt:focus{border-color:var(--bl5)}
.form_im_txt::placeholder{color:var(--bl5);font-weight:600;transition:var(--tm)}


.form_im p{
	width: 100%;
	margin-bottom: 10px;
}




/*  */
.form_imr{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.form_imr::after{display:none}
.form_imri{
	position: relative;
	width: calc(50% - 7.5px);
	height: 54px;
	margin-bottom: 15px;
	border-radius: 13.5px;
   border: 1px solid var(--wh1);
}
@media(max-width:500px){.form_imri{width:100%}}



/*  */
.radio, .check{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 54px;
	padding: 0 15px;
	border-radius: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
 	cursor: pointer;
 	transition: var(--tm);
}
.radio input, .check input{display:none}
.radio span, .check span{
  position: relative;
  display: block;
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  padding-left: 39px;
  letter-spacing: .5px;
  transition: var(--tm);
}
.radio:hover span, .check:hover span{}

.radio span::before, .radio span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  background: var(--gr);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio span::before{}
.radio span::after {
	width: 22px;
	height: 22px;
	top: 1px;
	left: 1px;
	background: var(--wh);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio:hover span::before{transform:scale(0.9)}
.radio:hover span::after{transform:scale(0.7)}
.radio input:checked + span::before {
  transform: scale(1.05);
  background: var(--cl);
}
.radio input:checked + span::after {
  transform: scale(0.5);
  transition: transform 0.3s ease;
}
.radio:hover input:checked + span::after{transform:scale(0.4)}






/*  */
.form_date{
	position: relative;
	width: 100%;
	height: 54px;
	border-radius: 13.5px;
	border: 1px solid var(--bl2);
	background: var(--tr);
	color: var(--bl);
	padding: 0 34px;
	font-size: 16px;
	font-weight: 600;
	transition: var(--tm);
	user-select: none;
	outline: none;
}



.form_kl{
	position: relative;
	width: 100%;
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form_klb{
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 54px;
}
.form_klb2{
	left: auto;
	right: 0;
}
.form_kln{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 54px;
	border-radius: 13.5px;
	background: var(--tr);
	color: var(--bl);
	padding: 0 54px;
	font-size: 16px;
	font-weight: 600;
	transition: var(--tm);
	user-select: none;
	outline: none;
}










/*  */
.swiper-container {
	position: relative;
	width: 100%;
}
.swiper-slide{position:relative}
.swiper-pagination .swiper-pagination-bullet-active{background:var(--wh7)}




/*  */
.bl_mess{
	position: fixed;
	width: 100%;
	top: -260px;
	left: 0;
	z-index: 910;
	opacity: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
}
.bl_mess_zak{top:0;opacity:1}
.bl_mess_sam{
	display: inline-block;
	margin-top: 30px;
	padding: 20px 30px;
	border-radius: 13.5px;
	background: var(--bag);
	box-shadow: var(--bx2);
	transition: var(--tm);
}










/*  */
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 910;
	width: 100%;
	height: 124px;
}
.header_wh{}
@media(max-width:768px){.header{height:74px}}



.header .bl_c{height:100%}
.header_c{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_l{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo_i{
	position: relative;
	width: 74px;
	height: 74px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:500px){.logo_i{width:44px;height:44px}}
@media(max-width:360px){.logo_i{width:44px;height:44px}}





/*  */
.cmenu{
	position: relative;
	height: 100%;
	margin-left: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width:1024px){.cmenu{display:none}}
.cmenu a{margin:0 15px}
.cmenu_i{color:var(--bl);transition:var(--tm)}
.header_wh .cmenu_i{color:var(--wh)}
.header .cmenu_i:hover{color:var(--cl)}



/*  */
.header_r{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.lang{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.lang_i, .lang_ia{
	position: relative;
	margin: 0 15px;
	color: var(--bl);
	transition: var(--tm);
}
.header_wh .lang_ia{color:var(--wh)}
.header .lang_i{color:var(--gr)}
.header .lang_ia:hover{color: var(--cl)}
@media(max-width:768px){.lang_i:last-child, .lang_ia:last-child{margin-right:0}.lang_i, .lang_ia{font-size:18px;font-weight:600}}
@media(max-width:320px){.lang_i:last-child, .lang_ia:last-child{margin-left:0px}}

.lang span:last-child{display:none}
@media(max-width:500px){.lang span:last-child{display:inline}.lang span:first-child{display:none}}


.phone_nm{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 45px;
}
@media(max-width:768px){.phone_nm{display:none}}
.phone_nm a{color:#eee;transition:#fff}
.header_wh .phone_nm a{color:#fff}
.header .phone_nm a:hover{color:#eee}






/* menu */
.menu{
	position: relative;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: none;
	margin-left: 30px;
}
@media(max-width:500px){
	.menu{
		display: flex;
	}
}

.menu_bars {
	position: relative;
	padding: 15px 20px;
	border-radius: 14px;
	transition: 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.menu_act{}
.menu:hover .menu_bars{background:var(--cm1)}
@media(max-width:500px){
	.menu_bars{
		cursor: auto;
		width: 54px;
		height: 54px;
		padding: 0;
	}
}

.menu_bars_i {position:relative}
.menu_act .menu_bars_i {transform:rotate(-45deg)}
.menu_bars_i, .menu_bars_i::before, .menu_bars_i::after {
	width: 28px;
	height: 2px;
	border-radius: 2px;
	background-color: var(--bl);
	transition: 0.2s ease-in-out;
}
.header_wh .menu_bars_i, .header_wh .menu_bars_i::before, .header_wh .menu_bars_i::after{background-color:var(--wh)}

.menu_bars_i::before, .menu_bars_i::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	will-change: transform;
}
.menu_bars_i::before{transform:translateY(-8px)}
.menu_bars_i::after{transform:translateY(8px)}
.menu_act .menu_bars_i::before, .menu_act .menu_bars_i::after {transform:translateX(0) rotate(-90deg)}



/*  */
.menu_c{
	position: absolute;
	right: -50px;
	top: 89px;
	width: 300px;
	border-radius: 18px;
	background: var(--wh);
	transition: .5s;
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
   box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
}
.menu_act .menu_c{
	opacity:1;
	visibility:visible;
	right: 0;
}

.menu_ci{
	position: relative;
	width: 100%;
	min-height: 54px;
	padding: 0 30px;
	border-bottom: 1px solid var(--gr1);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: .3s;
	cursor: pointer;
}
.menu_ci:first-child{
	height: calc(54px + 10px);
	padding-top: 10px;
}
.menu_ci:last-child{
	height: calc(54px + 10px);
	padding-bottom: 10px;
	border-bottom: 0;
}
.menu_ci:hover{
	background: var(--cm1);
	border-bottom-color: var(--tr);
}

.menu_cin{
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}
.menu_cih{
	position: relative;
	width: calc(100% - 34px - 15px);
	margin-left: 15px;
	font-size: 16px;
}

.menu_cih span{
	position: relative;
	width: 22px;
	min-width: 22px;
	height: 22px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	border-radius: 50%;
	background: var(--cm);
	color: var(--wh);
	margin-left: 10px;
	padding-top: 1px;
	padding-right: 1px;
}








/*  */
.footer{
	position: relative;
	width: 100%;
	background: var(--bl8);
	color: var(--wh);
}
@media(max-width:1024px){.footer{padding-bottom:74px}}

.footer_b{
	position: relative;
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footer_bl{
	position: relative;
	width: 50%;
	font-weight: 400;
	font-size: 11px;
	font-family: 'Unbounded', sans-serif;
	font-weight: 400;
}
@media (max-width: 768px) {
	.footer_bl{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
}

.footer_br{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
@media (max-width: 768px) {
	.footer_br{
		width: 100%;
		justify-content: center;
	}
}

/*  */
.gprog_bl{
	position: relative;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--wh);
	font-size: 11px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
}
.gprog_heart{
	margin: 0 3px;
	color: var(--red);
	font-size: 16px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gprog_bl:hover .gprog_heart {
	-webkit-animation: heartAnimation .8s ease-in-out infinite;
	animation: heartAnimation .8s ease-in-out infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.gprog_heart:after, .gprog_heart:before {
	content: '';
	position: absolute;
	top: -15px;
	bottom: -15px;
	left: -15px;
	right: -15px;
	border-radius: 50%;
	opacity: 0;
	-webkit-box-shadow: 0 0 10px 15px rgb(242 69 61 / 55%);
	box-shadow: 0 0 10px 15px rgb(242 69 61 / 55%);
	pointer-events: none;
}
.gprog_bl:hover .gprog_heart:before {
	-webkit-animation: anim-effect-ivana-1 .8s infinite;
	animation: anim-effect-ivana-1 .8s infinite;
}
.gprog_bl:hover .gprog_heart:after {
	-webkit-animation: anim-effect-ivana-2 .8s infinite;
	animation: anim-effect-ivana-2 .8s infinite;
}


.gprog_ab{
	min-width: 207px;
	background: var(--wh);
	border-radius: 30px;
	padding: 30px;

	position: absolute;
	bottom: 105%;
	left: 50%;
	-webkit-transform: translateX(calc(-50%));
	-ms-transform: translateX(calc(-50%));
	transform: translateX(calc(-50%));
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	opacity: 0;
	pointer-events: none;
	-webkit-box-shadow: 2px 15px 20px rgb(0 0 0 / 15%);
	box-shadow: 2px 15px 20px rgb(0 0 0 / 15%);
}
@media(max-width:768px){.gprog_ab{display:none}}
.gprog_bl:hover .gprog_ab{
	-webkit-transform: translateX(calc(-50%)) translateY(-2vh);
	-ms-transform: translateX(calc(-50%)) translateY(-2vh);
	transform: translateX(calc(-50%)) translateY(-2vh);
	opacity: 1;
}
.gprog_ab:before {
	content: '';
	position: absolute;
	bottom: -4px;
	right: 0;
	left: 0;
	margin: auto;
	transform: rotate(45deg);
	background: var(--wh);
	width: 14px;
	height: 14px;
	border-radius: 4px;
}
.gprog_lg{
	position: relative;
	width: 100%;
	height: 74px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gprog_lg div{
	position: relative;
	width: 74px;
	height: 74px;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.gprog_h{
	position: relative;
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Unbounded', sans-serif;
    font-weight: 400;
	color: #262626;
}
.gprog_p{
	position: relative;
	width: 100%;
	font-size: 14px;
	text-align: center;
	color: #262626;
	padding-left: 6px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}













/*  */
.pop_bl{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--tm);
	visibility: hidden;
}
@media(max-width:500px){.pop_bl{align-items:flex-end}}

.pop_bl_act{visibility:visible;opacity:1}

/*  */
.pop_bl_a{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--bl2);
	backdrop-filter: blur(3px);
	transition: var(--tm);
	transition-delay: var(--tm);
	opacity: 0;
}
.pop_bl_act .pop_bl_a{opacity:1}

/*  */
.pop_bl_c{
	position: relative;
	width: calc(100% - 80px);
	max-width: 768px;
	padding: 60px 80px;
	border-radius: 40px;
	z-index: 2;
	transform: translateY(100%);
	transition: .5s;
	background: var(--bag);
}
@media(max-width:768px){.pop_bl_c{padding:60px 40px}}
@media(max-width:500px){
	.pop_bl_c{
		width: 100%;
		padding: 60px 30px;
		border-radius: 30px 30px 0 0;
	}
}
@media(max-width: 425px){
	.pop_bl_c{
		padding: 40px 20px;
		border-radius: 20px 20px 0 0;
	}
}
@media(max-width: 375px){
	.pop_bl_c{
		padding: 30px 15px;
		border-radius: 15px 15px 0 0;
	}
}
@media(max-width: 320px){.pop_bl_c{padding:20px 10px}}


.pop_bl_c::after{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 5px;
	border-radius: 5px;
	background: var(--bl1);
	display: none;
}
@media(max-width:500px){.pop_bl_c::after{display:block}}



.pop_bl_act .pop_bl_c{transform:translateY(0)}
.pop_bl_c .head_c{padding:0;padding-bottom:30px}
.pop_bl_c .form_c .btn{width:100%}

.pop_bl_cl{
	position: relative;
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}



/*  */
.pop_bl_share{
	position: relative;
	width: 100%;
}
.pop_bl_share .head_c{padding-bottom:30px}

.pop_bl_share_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pop_bl_share_c a{
	position: relative;
	width: calc(100% / 4 - 20px * 2 / 3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.pop_bl_share_c div{
	position: relative;
	width: 54px;
	height: 54px;
	font-size: 20px;
	margin-bottom: 5px;
   background: radial-gradient(circle, var(--bl03) 50%, var(--tr) 100%);
   border-radius: 50%;
	color: var(--bl8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.pop_bl_share_c span{font-size:11px}


.pop_bl_share_b{
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.pop_bl_share_b .btn{width:100%}







/*  */
.callback{}
@media(max-width:500px){
	.callback{
		position: fixed;
		bottom: -74px;
		left: 0;
		width: 100%;
		height: 188px;
		transform: translateY(70px);
		padding-bottom: 144px;
		z-index: 999;
		transition: .4s;
		-webkit-overflow-scrolling: touch;
		background: var(--bag);
		box-shadow: var(--bx_t2);
	}
	/* .tabs_act, .tabs_acts{bottom:-74px} */

	.callback a{
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 50%;
		height: 44px;
	}
	.callback a:last-child{
		left: auto;
		right: 0;
	}
}


.callback-bt, .callback-btw{
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 72px;
	width: 72px;
	z-index: 9999;

	background:var(--cl);
	box-shadow:var(--bx3);
	border:1px solid var(--cl);
	border-radius:50%;
	transition:.3s;
	cursor:pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	
	animation:hoverWave linear 1s infinite;
}
.callback-bt{display:none}
.callback-btw{
	background:#25D366;
	border: 0;
	box-shadow: var(--bx_b2);
}
.callback-bt:hover, .callback-btw:hover{
	background:#fff;
	transition:.3s;
}
@media(max-width:500px){
	.callback-bt, .callback-btw{
		position: relative;
		width: 100%;
		height: 100%;
		bottom: auto;
		right: auto;
		display: flex;

		animation: none;
		border-radius: 0;
	}
	.callback-bt:hover{
		background:var(--cl);
	}
	.callback-btw:hover{
		background:#25D366;
	}
}




.callback-bt i, .callback-btw i{
	color:#fff;
	font-size:34px;
	transition:.3s;
	line-height: 66px;
	transition: .5s ease-in-out;
	animation: 1200ms ease 0s normal none 1 running shake;
	animation-iteration-count: infinite;
}
.callback-bt:hover i, .callback-btw:hover i{
	color:var(--cl);
}
@media(max-width:500px){
	.callback-bt i, .callback-btw i{
		font-size: 18px;
		animation: none;
   	}
	.callback-bt:hover i, .callback-btw:hover i{
		color:var(--wh);
	}
}

.callback-bt span, .callback-btw span{
	display: none;
}
@media(max-width:500px){
	.callback-bt span, .callback-btw span{
		display: inline-block;
		font-size: 14px;
		margin-left: 12px;
		color: var(--wh);
	}
}







